<table id="tableSortExample" mdbTable class="z-depth-1">
  <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{head | titlecase}}
        <i class="fa fa-sort" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <th scope="row">{{el.name}}</th>
      <td>{{el.age}}</td>
      <td>{{el.username}}</td>
      <td>{{el.hireDate | date}}</td>
      <td>
        <button class="p-2 m-0" type="button" mdbBtn color="link">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="p-2 m-0" type="button" mdbBtn color="link" (click)="openEmployee(el)">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
        <button class="p-2 m-0" type="button" mdbBtn color="link" (click)="remove(i)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>