<div class="container">
  <div *ngIf="!employee">
    <h1>There're no records for the employee {{ username }}</h1>
  </div>
  <div *ngIf="employee">
    <h1>Viewing: {{ username }}</h1>
    <form [formGroup]="employeeForm">
      <div class="row">
        <!-- Left -->
        <div class="col-6">
          <div class="row">

            <!-- Name -->
            <div class="col-6 vertical-center">
              <p class="m-0">Name</p>
            </div>
            <div class="col-6 vertical-center">
              <div class="m-0 mb-2">
                <input [attr.disabled]="true" mdbInput type="text" class="form-control" placeholder="Name" formControlName="name">
              </div>
            </div>

            <!-- Birthday -->
            <div class="col-6 vertical-center">
              <p class="m-0">Dob</p>
            </div>
            <div class="col-6 vertical-center">
              <mat-form-field class="mb-2">
                <input [attr.disabled]="true" mdbInput [matDatepicker]="birthday" placeholder="Birthday"
                  class="timepicker-input form-control" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- Country -->
            <div class="col-6 vertical-center">
              <p class="m-0">Country</p>
            </div>
            <div class="col-6 vertical-center">
              <div class="m-0 mb-2">
                <select class="browser-default custom-select" aria-placeholder="Country" formControlName="country"
                  *ngIf="api.countries" [attr.disabled]="true">
                  <option [value]="null">Select a country</option>
                  <option *ngFor="let c of api.countries" [ngValue]="c">{{ c.name }}</option>
                </select>
              </div>
            </div>

            <!-- Username -->
            <div class="col-6 vertical-center">
              <p class="m-0">Username</p>
            </div>
            <div class="col-6 vertical-center">
              <div class="m-0 mb-2">
                <input [attr.disabled]="true" mdbInput type="text" class="form-control" placeholder="Username"
                  formControlName="username">
              </div>
            </div>

            <!-- Hire Date -->
            <div class="col-6 vertical-center">
              <p class="m-0">Hire Date</p>
            </div>
            <div class="col-6 vertical-center">
              <mat-form-field class="mb-2">
                <input [attr.disabled]="true" mdbInput [matDatepicker]="hireDate" placeholder="Hire Date"
                  class="timepicker-input form-control" formControlName="hireDate">
                <mat-datepicker-toggle matSuffix [for]="hireDate"></mat-datepicker-toggle>
                <mat-datepicker #hireDate></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- Status -->
            <div class="col-6 vertical-center">
              <p class="m-0">Status</p>
            </div>
            <div class="col-6 vertical-center">
              <div class="m-0 mb-2">
                <div class="custom-control custom-switch">
                  <input [attr.disabled]="true" type="checkbox" class="custom-control-input" id="customSwitches"
                    formControlName="status">
                  <label class="custom-control-label" for="customSwitches">Active / Inactive</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" mdbBtn color="light" mdbWavesEffect (click)="popPage()">
              <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
            </button>
          </div>
        </div>
        <!-- Right -->
        <div class="col-6">
          <div class="row">
            <div class="col-6 vertical-center">
              Área
            </div>
            <div class="col-6 vertical-center">
              <div class="btn-group mb-2">
                <button type="button" mdbBtn [color]="employeeForm.value.area1 ? 'primary' : 'light'" mdbWavesEffect>
                  Services
                </button>
                <button type="button" mdbBtn [color]="employeeForm.value.area2 ? 'primary' : 'light'" mdbWavesEffect>
                  Kitchen
                </button>
              </div>
            </div>

            <div class="col-6 vertical-center">
              Job Title
            </div>
            <div class="col-6 vertical-center">
              <div class="m-0 mb-2">
                <select class="browser-default custom-select" aria-placeholder="Job title" formControlName="jobTitle" [attr.disabled]="true">
                  <option [value]="null">Select a job</option>
                  <option *ngFor="let jobTitle of jobTitles" [ngValue]="jobTitle">{{ jobTitle }}</option>
                </select>
              </div>
            </div>

            <div class="col-6 vertical-center"
              *ngIf="employeeForm.value.jobTitle === 'Waitress' || employeeForm.value.jobTitle === 'Dinning room manager'">
              Tip Rate
            </div>
            <div class="col-6 vertical-center"
              *ngIf="employeeForm.value.jobTitle === 'Waitress' || employeeForm.value.jobTitle === 'Dinning room manager'">
              <div class="m-0 mb-2">
                <input [attr.disabled]="true" mdbInput type="text" class="form-control" placeholder="Tip Rate"
                  formControlName="tipRate">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>